//$black-light: #0A0B0B;
//$gray-light: #A3A3A3;
//$white-dark: #D7D7D7;

$gray-dark: #0D0E0D
$gray-middle: #555
$gray-light: #E7E0D8
$blue-light: #D1E4F9
$brown: #6B3A1E
$dark-brown: #3E3229
$orange: #E8A928

//*
//  margin: 0
//  padding: 0
//  box-sizing: border-box
//  text-decoration: none
//  user-select: none
//
//body
//  display: block
//  position: static
//  font-family: "BauhausC", "Baumans", "Arial", sans-serif
//  font-weight: 500
//  font-size: 0
//  color: $gray-light
//  min-width: 487px
//  margin: 0 auto
//  background-color: $gray-dark
//  overflow-y: auto
//  overflow-x: hidden
//  min-height: 100vh
//
//  @media screen and (min-width: 1920px)
//    width: 1920px
//
//  @media screen and (max-width: 1920px)
//    width: 100vw
//
//#header-container
//  position: absolute
//  top: 0
//  left: 0
//  width: 100%
//  z-index: 20
//
//#footer-container
//  position: absolute
//  left: 0
//  width: 100%
//
//ul, ol
//  list-style: none
//
//a, a:hover, a:visited, a:active
//  text-decoration: none
//  color: inherit
//  outline: none