//$black-light: #0A0B0B;
//$gray-light: #A3A3A3;
//$white-dark: #D7D7D7;

$gray-dark: #3e3e3e
$gray-middle: #5a5a5a
$gray-light: #E7E0D8
$blue-light: #D1E4F9
$brown: #6B3A1E
$dark-brown: #3E3229
$orange: #E8A928

*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  //user-select: none

body
  display: block
  position: static
  //width: 68vw
  font-family: "Outfit", "Inter", "Arial", sans-serif
  font-weight: 400
  font-size: 24px
  color: $dark-brown
  min-width: 850px
  margin: 0 auto
  background-color: $gray-light
  overflow-y: auto
  overflow-x: hidden
  min-height: 100vh

  @media screen and (max-width: 850px)
    overflow-x: auto

  //@media screen and (min-width: 2800px)
  //  width: 1920px
  //
  //@media screen and (min-width: 1000px) and (max-width: 1300px)
  //  width: 85vw
  //
  //@media screen and (min-width: 800px) and (max-width: 1000px)
  //  width: 100vw

  //@media screen and (max-width: 850px)
  //  width: 850px

header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 20

footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%

ul, ol
  list-style: none

a, a:hover, a:visited, a:active
  text-decoration: none
  color: inherit
  outline: none

a:hover
  color: $orange

h2
  font-size: 1.7em

textarea
  resize: none

label
  white-space: nowrap
  text-wrap: none
  overflow: hidden

input, textarea
  &:not(#timeline *)
    font-size: 20px
    height: 40px
    border: 0
    background-color: rgba(0, 0, 0, 0.2)
    color: $dark-brown
    padding: 5px

    &.invalid
      border: 2px solid red
      color: red

    &:focus
      outline: none

  &.inactive
    background-color: rgba(#cccccc, 0.3) !important
    color: #999999 !important

button
  transition: all 0.1s ease-out
  border-radius: 5px
  font-size: 20px
  height: 40px
  border: 0
  background-color: rgba(0, 0, 0, 0.2)
  color: $dark-brown
  padding: 5px

  & > a:hover
    color: inherit

  &:hover
    background-color: $orange
    color: $gray-light
    cursor: pointer
    transition: all 0.1s ease-in

  &.selected
    background-color: $orange
    color: $gray-light

    &:hover
      background-color: $orange
      color: $gray-light
      cursor: auto

  &.inactive
    background-color: rgba(#cccccc, 0.7) !important
    color: #999999 !important

    &:hover
      background-color: rgba(#cccccc, 0.7) !important
      color: #999999 !important
      cursor: default !important

.icon
  font-size: 40px
  color: $dark-brown

  &:hover
    color: $orange
    cursor: pointer

.default-user
  background-color: $dark-brown
  width: 70px
  height: 70px
  color: $orange !important
  border: 3px solid $orange
  border-radius: 100%

  .icon
    color: $orange !important
    font-size: 2.7em

.content-container
  margin: auto
  min-width: 850px

  @media screen and (min-width: 2800px)
    width: 1920px

  @media screen and (min-width: 1300px) and (max-width: 2800px)
    width: 68%

  @media screen and (min-width: 1000px) and (max-width: 1300px)
    width: 85%

  @media screen and (max-width: 1000px)
    width: 100%

  h1, h2
    color: $orange

  p
    color: $gray-light

  & > div
    margin-top: 100px

.title
  margin-bottom: 30px

  p
    color: $dark-brown
    font-size: 0.8em


.image-wrapper
  position: absolute
  left: 0
  top: 0
  z-index: 1
  overflow: hidden
  height: 100%
  width: 100%

  img
    width: 100%
    height: 100%
    position: absolute
    top: -100%
    bottom: -100%
    margin: auto
    object-fit: cover