//lighter color: +50, +50, +50
//darker color: -50, -50, -50
$basic-pigment: rgb(184, 158,125)
$second-pigment: rgb(121, 94, 88)
$third-pigment: rgb(217, 210, 167)
$fourth-pigment: rgb(84, 56, 36)
$window-pigment: rgb(106, 80, 91)
$door-pigment: rgb(234, 234, 234)

.basic-pigment
  fill: $basic-pigment
.basic-lighter-pigment
  fill: rgb(red($basic-pigment) + 50, green($basic-pigment) + 50, blue($basic-pigment) + 50)
.basic-darker-pigment
  fill: rgb(red($basic-pigment) - 50, green($basic-pigment) - 50, blue($basic-pigment) - 50)

.second-pigment
  fill: $second-pigment
.second-lighter-pigment
  fill: rgb(red($second-pigment) + 50, green($second-pigment) + 50, blue($second-pigment) + 50)
.second-darker-pigment
  fill: rgb(red($second-pigment) - 50, green($second-pigment) - 50, blue($second-pigment) - 50)

.third-pigment
  fill: $third-pigment
.third-lighter-pigment
  fill: rgb(red($third-pigment) + 50, green($third-pigment) + 50, blue($third-pigment) + 50)
.third-darker-pigment
  fill: rgb(red($third-pigment) - 50, green($third-pigment) - 50, blue($third-pigment) - 50)

.fourth-pigment
  fill: $fourth-pigment
.fourth-lighter-pigment
  fill: rgb(red($fourth-pigment) + 50, green($fourth-pigment) + 50, blue($fourth-pigment) + 50)
.fourth-darker-pigment
  fill: rgb(red($fourth-pigment) - 50, green($fourth-pigment) - 50, blue($fourth-pigment) - 50)

.window-pigment
  fill: $window-pigment
.window-lighter-pigment
  fill: rgb(red($window-pigment) + 50, green($window-pigment) + 50, blue($window-pigment) + 50)
.window-darker-pigment
  fill: rgb(red($window-pigment) - 50, green($window-pigment) - 50, blue($window-pigment) - 50)

.door-pigment
  fill: $door-pigment
.door-lighter-pigment
  fill: rgb(red($door-pigment) + 50, green($door-pigment) + 50, blue($door-pigment) + 50)
.door-darker-pigment
  fill: rgb(red($door-pigment) - 50, green($door-pigment) - 50, blue($door-pigment) - 50)